.DS_Store
Thumbs.db

.env
.env.local

node_modules/
dist/
coverage/

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/

.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

postgres-data/
uploads/